
{% extends 'base.html' %}
{% load static %}
{% block body %}
<header>
        {% include "../include/topNav.html" %}
        <div class="aboutPage">
            <div class="aboutPage-content">
                {% include "../include/header-nav.html" %}
                 <div class="aboutPage-greeting">
                    <h1>Servislərimiz</h1>
                </div>
            </div>
        </div>
    </header>

 <section>
        <div class="servicePage">
            <div class="servicePage-content">
                <div class="servicePage-left">
                    <div class="servicePage-title">Həyət Təmiri</div>
                    <div class="servicePage-text">
                        Effektiv həyət baxımı bizim çağırışımızdır. Peşəkar komandamız tam xidmətlər spektrini təqdim edir: qazon biçməkdən və ağacların budamasından tutmuş avtomatik suvarma sistemlərinin quraşdırılmasına qədər. Təmiz, baxımlı həyətlər yaradırıq, burada hər bir detal təbiətin gözəlliyinə olan qayğını ifadə edir
                    </div>
                    <div class="servicePage-img-1"><img src="{% static 'assets/slide3.jpg' %}'" alt=""></div>
                    <div class="servicePage-subtitle">Necə faydalanmaq olar</div>
                    <div class="servicePage-text">
                        Bizim köməyimizlə bağınızdan yararlanın. Səmərəli landşaft planlaması, bacarıqlı bitki baxımı və müasir həllər bağınızı gözəllik, rahatlıq mənbəyinə çevirəcək və əmlakınızın dəyərini artıracaq.
                    </div>
                    <div class="servicePage-text-list">
                        <ul>
                            <li><i class="fa-solid fa-circle-check"></i>We’re Experience Gardening</li>
                            <li><i class="fa-solid fa-circle-check"></i>
                                Natural product without GMO</li>
                            <li><i class="fa-solid fa-circle-check"></i>Sidewalk Clearing</li>
                            <li><i class="fa-solid fa-circle-check"></i>Snow Hauling & Stacking</li>
                        </ul>
                    </div>
                    <div class="servicePage-img-group">
                        <img src="{% static 'assets/slide1.jpg' %}" alt="">
                        <img src="{% static 'assets/slide2.jpg' %}" alt="">
                    </div>
                    <div class="servicePage-subtitle">Necə faydalanmaq olar</div>
                    <div class="servicePage-text">
                        Bağınızdan maksimum fayda əldə etmək hərtərəfli və düşünülmüş yanaşmadan irəli gəlir. Bölgənizin iqlim və torpaq şəraitinə uyğunlaşan bitkiləri seçməklə effektiv landşaft planlamasını həyata keçirin. Suvarma və bitki baxımında avtomatik suvarma sistemləri və günəş nasosları kimi müasir texnologiyalardan istifadə edin.
                        <br/><br/>
                        Bağçanıza öz şəxsiyyətini bəxş etmək üçün verandalar, alp sürüşmələri və ya su obyektləri kimi unikal dizayn xüsusiyyətləri yaradın. Çəmənliklərə və dekorativ əkinlərə qulluq etməyə xüsusi diqqət yetirin. Bitkilərinizi peşəkar şəkildə budayın və müntəzəm olaraq gübrələyin.
                        <br/><br/>
                        Bağın estetikası və funksionallığı təkcə həyatınızı yaxşılaşdırmayacaq, həm də əmlakınıza dəyər qatacaq. Bağçanız üçün maksimum faydalılıq və vizual zövq əldə etmək üçün abadlıq tendensiyalarını izləyin və müasir həllər tətbiq edin.
                    </div>
                </div>
                <div class="servicePage-right">
                    <div class="servicePage-list-box">
                        <div class="servicePage-list-box-title">Xidmətlər siyahısı</div>
                        <div class="servicePage-list-box-hr"></div>
                        <div class="servicePage-list-box-item"><a href="">Qazon və qazon xidmətləri</a><i
                                class="fa-solid fa-angles-right"></i></div>
                        <div class="servicePage-list-box-item"><a href="">Landşaft memarlıq və dizayn işləri</a><i
                                class="fa-solid fa-angles-right"></i></div>
                        <div class="servicePage-list-box-item"><a href="">Landşaft layihələrin dizayn və smeta işləri</a><i
                                class="fa-solid fa-angles-right"></i></div>
                        <div class="servicePage-list-box-item"><a href="">Mövcud ərazinin əkin üçün yararlı hala salınması</a><i
                                class="fa-solid fa-angles-right"></i></div>
                        <div class="servicePage-list-box-item"><a href="">Əraziyə uyğun əkin materiallarının seçilməsi</a><i
                                class="fa-solid fa-angles-right"></i></div>
                        <div class="servicePage-list-box-item"><a href="">Aqrotexniki qaydalara uyğun müxtəlif növ ağacların, kolların, çiçəklərin əkilməs</a><i
                                class="fa-solid fa-angles-right"></i></div>
                        <div class="servicePage-list-box-item"><a href="">Parklarda, bağlarda, villalarda sanitar və dekorativ budama</a><i
                                class="fa-solid fa-angles-right"></i></div>
                        <div class="servicePage-list-box-item"><a href="">Meyvə ağaclarının, dekorativ ağacların və kolların bir sahədən başqa sahəyə köçürülməsi</a><i
                                class="fa-solid fa-angles-right"></i></div>
                        <div class="servicePage-list-box-item"><a href="">Bitki ziyan vericilərinə qarşı mübarizə</a><i
                                class="fa-solid fa-angles-right"></i></div>
                        <div class="servicePage-list-box-item"><a href="">Bağçılıq və alaq otlarına qarşı mübarizə</a><i
                                class="fa-solid fa-angles-right"></i></div>
                        <div class="servicePage-list-box-item"><a href="">Avtomatik və mexaniki suvarma sistemlərinin quraşdırılması</a><i
                                class="fa-solid fa-angles-right"></i></div>
                        <div class="servicePage-list-box-item"><a href="">Həyət Təmizləmə və Tullantıların Atılması</a><i
                                class="fa-solid fa-angles-right"></i></div>
                        <div class="servicePage-list-box-item"><a href="">Daimi Bağ Baxımı və Müqavilə İşi</a><i
                                class="fa-solid fa-angles-right"></i></div>
                        <div class="servicePage-list-box-item"><a href="">Peşəkar mütəxəssislər tərəfindən bağbanların təlimatlandırılması.</a><i
                                class="fa-solid fa-angles-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}




