{% load static %}
 <footer>
        <div class="footer">
            <div class="footer-content">
                <div class="footer-block">
                    <a href="/"><img src="{% static 'assets/logo.jpg' %}" class="footer-logo" alt=""></a>
                    <p>
                        Quis autem eum reprehenderit <br> volutate
                        velit quam molestiae conseuatur
                    </p>
                    <a href="/contact" class="footer-contact">Bizimlə əlaqə</a>
                </div>
                <div class="footer-block footer-mt">
                    <div class="footer-item-title">Get In Touch</div>
                    <div class="footer-item-hr"></div>
                    <ul>
                        <li>
                            <p>Garden Care,Hövsan</p>
                        </li>
                        <li><a href="mailto:info@gardencare.az">İnfo@gardencare.az</a></li>
                        <li><a href="">+994 10 212 11 43</a></li>
                    </ul>
                </div>
                <div class="footer-block">
                    <div class="footer-item-title">Sürətli keçid</div>
                    <div class="footer-item-hr"></div>
                    <ul>
                        <li><a href="/about-us">Şirkət haqqında</a></li>
                        <li><a href="/shop">Mağaza</a></li>
                        <li><a href="/blog">Portfolio</a></li>
                        <li><a href="/services">Servislərimiz</a></li>
                        <li><a href="/price">Tarif planı</a></li>
                    </ul>
                </div>
                <div class="footer-block">
                    <div class="footer-block-link">
                        <h2>10+</h2>
                        <p>İllərin təcrübəsi</p>
                        <div class="footer-link">
                            <img  src="{% static 'assets/right-arrow.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>




