<div class="header-nav-content">
                    <div class="header-nav-item"><a href="/">Home</a></div>
                    <div class="header-nav-dropdown">
                        <button class="dropbtn"><a href="">Səhifələr</a><i class="fa-solid fa-angle-down"></i></button>
                        <div class="header-navdropdown-content">
                            <a href="/about-us">Bizim haqqımızda</a>
                            <a href="#">Bizim komanda</a>
                            <a href="/price">Qiymət Planı</a>
                            <a href="/contact">Bizimlə əlaqə saxlayın</a>
                        </div>
                    </div>
                    <div class="header-nav-item"><a href="/services">Servislərimiz</a></div>
                    <div class="header-nav-item"><a href="/blog">Portfolio</a></div>
                    <div class="header-nav-item"><a href="/shop">Mağaza</a></div>
                </div>