{% load static %}
<nav>
            <div class="top-nav">
                <div class="top-nav-content">
                    <div class="top-nav-title">
                        Garden Care müasir bağçılıq xoş gəlmisiniz. <a href="/contact">Bizimlə əlaqə
                        </a>
                    </div>
                    <div class="top-nav-social">
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-brands fa-pinterest-p"></i></a>
                    </div>
                </div>
                <div class="middle-nav-content">
                    <div class="middle-nav-content-logo">
                        <img src="{% static 'assets/logo-bg.png' %}" alt="">
                    </div>
                    <div class="middle-nav-item">
                        <div class="middle-nav-item-icon"><i class="fa-solid fa-location-dot"></i></div>
                        <div class="middle-nav-item-info">
                            <div class="middle-nav-item-info-title">Ünvan</div>
                            <div class="middle-nav-item-info-value">Garden Care,Hövsan</div>
                        </div>
                    </div>
                    <div class="middle-nav-item">
                        <div class="middle-nav-item-icon"><i class="fa-solid fa-envelopes-bulk"></i></div>
                        <div class="middle-nav-item-info">
                            <div class="middle-nav-item-info-title">E-poçt</div>
                            <div class="middle-nav-item-info-value">Info@gadden.com</div>
                        </div>
                    </div>
                    <div class="middle-nav-item">
                        <div class="middle-nav-item-icon"><i class="fa-solid fa-phone-flip"></i></div>
                        <div class="middle-nav-item-info">
                            <div class="middle-nav-item-info-title">Qaynar xətt</div>
                            <div class="middle-nav-item-info-value">+99410 212 11 43</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navBar">
                <div class="navBar-content">
                    <div class="navBar-logo">
                        <img src="{% static 'assets/logo-bg.png' %}" alt="">
                    </div>
                    <div class="navBar-sidebar">
                        <button id="toggle-btn">&#9776;</button>

                        <div class="sidebar">
                            <div class="menu">
                                <img src="{% static 'assets/logo-bg.png' %}" alt="">
                                <div class="">
                                    <form action="">
                                        <div class="sidebar-search">
                                            <input type="text" placeholder="Axtar...">
                                            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <ul class="sidebar-menu">
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa-solid fa-file-lines"></i> <span>Pages</span> <i
                                                class="fa fa-angle-left pull-right"></i>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="#"><i class="fa-brands fa-pagelines"></i>Bizim haqqımızda</a>
                                            </li>
                                            <li><a href="#"><i class="fa-brands fa-pagelines"></i>Bizim komanda</a></li>
                                            <li><a href="#"><i class="fa-brands fa-pagelines"></i>Komanda
                                                    Təfərrüatları</a></li>
                                            <li><a href="#"><i class="fa-brands fa-pagelines"></i>Rəylər</a></li>
                                            <li><a href="#"><i class="fa-brands fa-pagelines"></i>Qiymət Planı</a></li>
                                            <li><a href="#"><i class="fa-brands fa-pagelines"></i>Bizimlə əlaqə
                                                    saxlayın</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa-solid fa-tree"></i> <span>Xidmətlər</span> <i
                                                class="fa fa-angle-left pull-right"></i>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="#"><i class="fa-brands fa-pagelines"></i> Bütün Xidmətlər</a>df

                                            </li>
                                            <li><a href="#"><i class="fa-brands fa-pagelines"></i> Xidmət
                                                    Təfərrüatları</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>